In [2]:
"""
The primary purpose of this script is to facilitate spatial joins between property transaction data and geographic areas.
This enables analysis of housing prices and trends at different geographic levels within the Midlands.

"""
import pandas as pd

# Load the large PCD zipped CSV file with proper encoding
df = pd.read_csv('../data/raw/PCD_OA_LSOA_MSOA_LAD_MAY22_UK_LU.zip', compression='zip', encoding='latin1')

C:\Users\marka\AppData\Local\Temp\ipykernel_4596\2507486797.py:9: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/raw/PCD_OA_LSOA_MSOA_LAD_MAY22_UK_LU.zip', compression='zip', encoding='latin1')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2676240 entries, 0 to 2676239
Data columns (total 14 columns):
 #   Column    Dtype
---  ------    -----
 0   pcd7      object
 1   pcd8      object
 2   pcds      object
 3   dointr    int64
 4   doterm    float64
 5   usertype  int64
 6   oa11cd    object
 7   lsoa11cd  object
 8   msoa11cd  object
 9   ladcd     object
 10  lsoa11nm  object
 11  msoa11nm  object
 12  ladnm     object
 13  ladnmw    object
dtypes: float64(1), int64(2), object(11)
memory usage: 285.9+ MB

In [4]:
df.head()

,pcd7,pcd8,pcds,dointr,doterm,usertype,oa11cd,lsoa11cd,msoa11cd,ladcd,lsoa11nm,msoa11nm,ladnm,ladnmw
0,AB1 0AA,AB1 0AA,AB1 0AA,198001,199606.0,0,S00090303,S01006514,S02001237,S12000033,"Cults, Bieldside and Milltimber West - 02","Cults, Bieldside and Milltimber West",Aberdeen City,NaN
1,AB1 0AB,AB1 0AB,AB1 0AB,198001,199606.0,0,S00090303,S01006514,S02001237,S12000033,"Cults, Bieldside and Milltimber West - 02","Cults, Bieldside and Milltimber West",Aberdeen City,NaN
2,AB1 0AD,AB1 0AD,AB1 0AD,198001,199606.0,0,S00090399,S01006514,S02001237,S12000033,"Cults, Bieldside and Milltimber West - 02","Cults, Bieldside and Milltimber West",Aberdeen City,NaN
3,AB1 0AE,AB1 0AE,AB1 0AE,199402,199606.0,0,S00091322,S01006853,S02001296,S12000034,"Dunecht, Durris and Drumoak - 01","Dunecht, Durris and Drumoak",Aberdeenshire,NaN
4,AB1 0AF,AB1 0AF,AB1 0AF,199012,199207.0,1,S00090299,S01006511,S02001236,S12000033,Culter - 06,Culter,Aberdeen City,NaN

In [6]:
# Join with Price Paid Data (PPD) on the `postcode` field

# First load the previously cleaned Price Paid Data (PPD)
ppd = pd.read_csv('../data/clean/pp-monthly-cleaned.csv')

In [7]:
ppd.head()

,transaction,price,transfer_date,postcode,property_type,new_build,tenure,PAON,SAON,Street,Locality,town_city,district,county,PPD_category,Status
0,{3DCCB7C9-D239-5B9D-E063-4704A8C0331E},340000,2003-11-28 00:00,DE73 7JQ,S,N,F,COBWEB BARN,NaN,INGLEBY LANE,TICKNALL,DERBY,SOUTH DERBYSHIRE,DERBYSHIRE,A,A
1,{3DCCB7C9-D364-5B9D-E063-4704A8C0331E},450000,2006-03-17 00:00,DE7 6GU,D,N,F,3,NaN,BEECH LANE,WEST HALLAM,ILKESTON,EREWASH,DERBYSHIRE,A,A
2,{3DCCB7CA-8C58-5B9D-E063-4704A8C0331E},350000,2001-07-19 00:00,CV4 7PA,D,N,F,1,NaN,THE LAURELS,NaN,COVENTRY,COVENTRY,WEST MIDLANDS,A,A
3,{3DCCB7CA-1DAB-5B9D-E063-4704A8C0331E},295000,2021-05-21 00:00,LE14 3QL,D,N,F,4,NaN,HOUGHTON CLOSE,ASFORDBY HILL,MELTON MOWBRAY,MELTON,LEICESTERSHIRE,A,A
4,{3DCCB7CA-1EF1-5B9D-E063-4704A8C0331E},600000,2021-12-20 00:00,DE73 8LF,D,Y,F,10,NaN,PRIORY CLOSE,BREEDON ON THE HILL,DERBY,NORTH WEST LEICESTERSHIRE,LEICESTERSHIRE,A,A

In [ ]:
# Perform the join
merged_df = pd.merge(ppd, df[['pcds', 'lsoa11cd', 'msoa11nm', 'ladnm']], left_on='postcode', right_on='pcds', how='left')
# The `pcds` column can now be dropped 
merged_df.drop(columns=['pcds'], inplace=True)
# Save the merged dataframe to a new CSV file
merged_df.to_csv('../data/clean/ppd_with_geography.csv', index=False)